<body class="no-select">
	<% include header %>
	<section id="home" class="bs-section parallax-window" data-parallax="scroll" data-image-src="img/keyboard.jpg">
		<span class="bs-cover-text">apps don't code themselves... but I do</span>
		<div class="bs-arrow-wrapper">
			<i id="arrow" class="bs-icon fa fa-chevron-down fa-3x" data-bind="click: $root.goTo.bind($data, '#aboutme'), event: {mouseover: $root.scrollArrow.bind($data, 'arrow')}"></i>
		</div>
	</section>
	<section id="aboutme" class="bs-section">
		<div class="bs-card">
			<div class="bs-card-header">
				<h2 class="bs-card-header-title">About Me</h2>
			</div>
			<div class="bs-card-content">
				<p>Hi, I am a 20 years old Front-end developer, JavaScript fanboy and university student from Budapest, Hungary with a passion for making visually stunning and modern web applications. I love beautiful and meaningful content and no matter what I do, I always care about all the little details that make something unique and memorable.</p>
				<p>In high school I started to have interest in programming,  robotics and space reasearch. As a member of the HungaroBots robotics team we won Google Moonbots 2012 from 147 teams from around the world. In 2014 I started my BSc studies at the Eotvos Lorand University (<a class="sublink" href="http://www.elte.hu/en" target="_blank">ELTE</a>) in the Faculty of Informatics as a Computer Scientist and Software Developer.</p>
				<p>If you have any further questions about me, my works or if you just want to hang out, please contact me.</p>
			</div>
		</div>
		<div class="bs-card-background parallax-window" data-parallax="scroll" data-bleed="200" data-image-src="img/prague.jpg"></div>
	</section>
	<section id="work" class="bs-section">
		<div class="bs-card">
			<div class="bs-card-header">
				<h2 class="bs-card-header-title">I've worked with</h2>
			</div>
			<div class="bs-card-content">
				<p>Sorry, this section is under construction but feel free to check out my <a class="bs-sublink" href="https://linkedin.com/in/balintsoos" target="_blank" title="LinkedIn">LinkedIn</a> and <a class="sublink" href="https://github.com/balintsoos" target="_blank" title="GitHub">GitHub</a> page for more info</p>
			</div>
		</div>
		<div class="bs-card-background parallax-window" data-parallax="scroll" data-bleed="200" data-image-src="img/keyboard.jpg"></div>
	</section>
	<section id="projects" class="bs-section">
		<div class="bs-card">
			<div class="bs-card-header">
				<h2 class="bs-card-header-title">My recent project</h2>
			</div>
			<div class="bs-card-content">
				<h3><a class="bs-sublink" href="https://forcecountdown.com" target="_blank" title="Force Countdown">ForceCountdown.com</a></h3>
				<p>Countdown site for Star Wars related movies and games. Inspired by The Force Awakens</p>
				<p>For my other projects, please visit my <a class="bs-sublink" href="https://github.com/balintsoos" target="_blank" title="GitHub">GitHub</a> page</p>
			</div>
		</div>
		<div class="bs-card-background parallax-window" data-parallax="scroll" data-bleed="200" data-image-src="img/sw.jpg"></div>
	</section>
	<section id="contact" class="bs-section">
		<div class="bs-card">
			<div class="bs-card-header">
				<h2 class="bs-card-header-title">Contact with Me</h2>
			</div>
			<div class="bs-card-content">
				<% include social %>
			</div>
		</div>
		<div class="bs-card-background parallax-window" data-parallax="scroll" data-bleed="200" data-image-src="img/budapest.jpg"></div>
	</section>
	<% include footer %>
	<% include scripts %>
</body>
