<body class="no-select">
	<% include header %>
	<section id="home">
		<span>apps don't code themselves... but I do</span>
	</section>
	<section id="aboutme">
		<div id="face"></div>
		<div class="card">
			<div class="card-header">
				<h2>About Me</h2>
			</div>
			<div class="card-content">
				<p>Hi, I am a 20 years old Front end developer, JavaScript fanboy and university student from Budapest, Hungary with a passion for making visually stunning and modern web applications. I love beautiful and meaningful content and no matter what I do, I always care about all the little details that make something unique and memorable.</p>
				<p>In high school I started to have interest in programming,  robotics and space reasearch. As a member of the HungaroBots robotics team we won Google Moonbots out of 147 teams from around the world. In 2014 I started my BSc studies at the Eotvos Lorand University (<a class="sublink" href="http://www.elte.hu/en" target="_blank">ELTE</a>) in the Faculty of Informatics as a Computer Scientist and Software Developer.</p>
				<p>If you have any further questions about me, my works or if you just want to hang out, please contact me.</p>
			</div>
		</div>
		<div class="insta insta-right">
			<a id="ig" href="https://instagram.com/balintsoos/" target="_blank" title="@balintsoos on Instagram">@balintsoos</a>
		</div>
	</section>
	<section id="work">
		<div class="card">
			<div class="card-header">
				<h2><i class="fa fa-code fa-fw"></i> I've worked with</h2>
			</div>
			<div class="card-content">
				<div class="text">
					<p>Sorry, this section is under construction but feel free to check out <a class="sublink" href="https://linkedin.com/in/balintsoos" target="_blank">my LinkedIn profile</a></p>
				</div>
			</div>
		</div>
	</section>
	<section id="projects">
		<div class="card">
			<div class="card-header">
				<h2><i class="fa fa-archive fa-fw"></i> My recent projects</h2>
			</div>
			<div class="card-content">
				<p>Sorry, this section is under construction but feel free to <a class="sublink" href='#contact'>contact</a> with me and ask any questions you may have :)</p>
			</div>
		</div>
	</section>
	<section id="contact">
		<div class="card">
			<div class="card-header">
				<h2><i class="fa fa-comments fa-fw"></i> Contact with Me</h2>
			</div>
			<div class="card-content">
				<% include social %>
			</div>
		</div>
		<div class="insta insta-left">
			<a id="ig" href="https://instagram.com/balintsoos/" target="_blank" title="@balintsoos on Instagram">@balintsoos</a>
		</div>
	</section>
	<footer>
		<span>Created with <i class="fa fa-heart"></i> by Balint Soos</span>
	</footer>
	<% include scripts %>
</body>
