<body class="no-select" data-bind="css: currentBg">
	<% include header %>
	<section id="home" class="card">
		<span>apps don't code themselves... but I do</span>
	</section>
	<section id="aboutme" class="card">
		<div class="card-header">
			<h2>Hi</h2>
		</div>
		<div class="card-content">
			<div id="face"></div>
			<div class="text">
				<p>Hi, I am a 20 years old Front end developer, JavaScript fanboy and university student from Budapest, Hungary with a passion for making visually stunning and modern web applications. I love beautiful and meaningful content and no matter what I do, I always care about all the little details that make something unique and memorable.</p>
				<p>In high school I started to have interest in programming,  robotics and space reasearch. As a member of the HungaroBots robotics team we won Google Moonbots out of 147 teams from around the world. In 2014 I started my BSc studies at the Eotvos Lorand University (<a class="sublink" href="http://www.elte.hu/en" target="_blank">ELTE</a>) in the Faculty of Informatics as a Computer Scientist and Software Developer.</p>
				<p>If you have any further questions about me, my works or if you just want to hang out, please contact me.</p>
			</div>
		</div>
	</section>
	<section id="work" class="card">
		<div class="card-header">
			<i class="fa fa-code fa-2x"></i>
			<h2>I'VE WORKED WITH</h2>
		</div>
		<div class="card-content">
			<div class="text">
				<p>Sorry, this section is under construction but feel free to check out <a class="sublink" href="https://linkedin.com/in/balintsoos" target="_blank">my LinkedIn profile</a></p>
			</div>
		</div>
	</section>
	<section id="projects" class="card">
		<div class="card-header">
			<i class="fa fa-archive fa-2x"></i>
			<h2>MY RECENT PROJECTS</h2>
		</div>
		<div class="card-content">
			<div class="text">
				<p>Sorry, this section is under construction but feel free to <a class="sublink" href='#contact'>contact</a> with me and ask any questions you may have :)</p>
			</div>
		</div>
	</section>
	<section id="contact" class="card">
		<div class="card-header">
			<i class="fa fa-archive fa-2x"></i>
			<h2>Contact with Me</h2>
		</div>
		<div class="card-content">
			<div class="text">
				<p>Sorry, this section is under construction but feel free to <a class="sublink" href='#contact'>contact</a> with me and ask any questions you may have :)</p>
			</div>
		</div>
	</section>
	<footer>
		<div class="jobtitle">
			<h2>Front-end Developer</h2>
		</div>
		<% include social %>
	</footer>
	<% include scripts %>
</body>
