<header class="bs-header bs-header-mobile">
  <div class="bs-button bs-nav-toggle" data-bind="click: $root.toggleNav"><i id="hamburger" class="fa fa-bars fa-fw fa-lg"></i></div>
  <div class="bs-logo" data-bind="click: $root.goTo.bind($data, '#home')">
    <h1 class="bs-name">Balint Soos</h1>
  </div>
</header>
<nav class="bs-nav bs-nav-mobile" data-bind="foreach: $root.sections">
  <div class="bs-nav-item" data-bind="click: $root.selectItemAtMobile">
    <span class="bs-nav-item-text" data-bind='text: title'></span>
  </div>
</nav>
<header class="bs-header bs-header-desktop" data-bind="css: {sticky: isSticky}">
  <nav class="bs-nav bs-nav-desktop">
    <div class="bs-logo" data-bind="click: $root.goTo.bind($data, '#home')">
      <h1 class="bs-name">
        <span class="bs-firstname">balint</span>
        <span class="bs-lastname">soos</span>
      </h1>
    </div>
    <!-- ko foreach: $root.sections -->
    <div class="bs-nav-item" data-bind="click: $root.selectItem, css: id">
      <span class="bs-nav-item-text" data-bind="text: title, css: {active: isSelected}"></span>
    </div>
    <!-- /ko -->
  </nav>
</header>
