<!-- Scripts -->
<script type="text/javascript" src="js/app.min.js" defer></script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Balint Soos",
  "url": "http://www.balintsoos.com",
  "sameAs": [
    "https://www.facebook.com/balint.soos.10",
    "https://linkedin.com/in/balintsoos",
    "https://twitter.com/BalintSoos",
    "https://instagram.com/balintsoos/",
    "https://github.com/balintsoos",
    "https://plus.google.com/+BálintSoósdev"
  ]
}
</script>
