<div class="social">
  <a id="fb" href="https://www.facebook.com/balint.soos.10" target="_blank" title="Facebook">
    <i class="fa fa-facebook-official fa-3x"></i>
  </a>
  <a id="tw" href="https://twitter.com/BalintSoos" target="_blank" title="Twitter">
    <i class="fa fa-twitter fa-3x"></i>
  </a>
  <a id="in" href="https://linkedin.com/in/balintsoos" target="_blank" title="LinkedIn">
    <i class="fa fa-linkedin fa-3x"></i>
  </a>
  <a id="sk" href="skype:soosbalint?call" title="Skype">
    <i class="fa fa-skype fa-3x"></i>
  </a>
  <a id="gh" href="https://github.com/balintsoos" target="_blank" title="GitHub">
    <i class="fa fa-github fa-3x"></i>
  </a>
  <a id="ig" href="https://instagram.com/balintsoos/" target="_blank" title="Instagram">
    <i class="fa fa-instagram fa-3x"></i>
  </a>
  <a id="gp" href="https://plus.google.com/+BálintSoósdev" target="_blank" title="Google+">
    <i class="fa fa-google-plus fa-3x"></i>
  </a>
</div>
