.bs-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  @include transition();
  z-index: 999;

  .bs-logo {
    display: flex;
    align-items: center;
    @include transition();
    cursor: pointer;

    .bs-name {
      .bs-firstname {

      }
      .bs-lastname {
        text-transform: uppercase;
      }
    }
  }
}

@import 'header-desktop';

@import 'header-mobile';
