.bs-header-mobile {
  display: none;
  height: 60px;
  background-color: rgba(0,0,0,0.8);

  .bs-nav-toggle {
    padding: 15px;
  }

  .bs-logo {
    .bs-name {
      font-size: 2.5rem;
    }
  }
}

.bs-nav-mobile {
  position: fixed;
  top: 60px;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(0,0,0,0.8);

  .bs-nav-item {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    @include transition();
    cursor: pointer;

    &.active {
      border-left: 3px solid $font-color-main;
      background-color: #2472a4;
    }
    .bs-nav-item-text {
      padding-left: 35px;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }
}
