// Media queries

@media only screen and (max-width: 1300px) {
  #home .bs-cover-text {
    width: 45%;
  }
}

@media only screen and (max-width: 1000px) {
  .bs-header-desktop {
    display: none;
  }

  .bs-header-mobile {
    display: flex;
  }

  .bs-section {
    flex-direction: column;
    min-height: 100%;
  }

  .bs-card {
    width: 100%;
    min-height: 50vh;
    justify-content: flex-start;
    padding: 20px 20px;
  }

  .bs-card-header {
    .bs-card-header-title {
      font-size: 2rem;
    }
  }

  .bs-card-content {
    h3 {
      font-size: 1.6rem;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .bs-card-background {
    width: 100%;
    height: 50vh;
    order: -2;
  }

  #home .bs-cover-text {
    width: 80%;
    font-size: 2.4rem;
  }

  .social {
    a {
      i {
        padding: 0 20px 20px 0;
        &:hover, &:active {
          border-bottom: $border-bottom-width solid transparent;
        }
      }
    }
  }

  .bs-footer {
    padding: 15px;
  }
}
