// Media queries

@media only screen and (max-width: 1300px) {
  #home span {
    width: 45%;
  }
  #card-content .text {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: flex;
  }
  .card-header h2 {
    font-size: 1.8rem;
  }
  .card-content {
    width: 85%;
  }
  .card-content .text {
    width: 100%;
    font-size: 1.4rem;
  }
  #home span {
    width: 80%;
    font-size: 2.4rem;
  }
}
