.bs-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: stretch;
}

.bs-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  order: 0;
}

.bs-card-header {
  width: 100%;
  margin-bottom: 30px;

  .bs-card-header-title {
    font-size: 3rem;
  }
}

.bs-card-content {
  width: 100%;

  h3 {
    font-size: 2rem;
  }
}

.bs-card-background {
  width: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  background-repeat: no-repeat;
  order: 0;
  overflow: hidden;
}
