#fb:hover {color: #3b5998; /* Facebook blue */}
#tw:hover {color: #55acee; /* Twitter blue */}
#in:hover {color: #007bb6; /* LinkedIn blue */}
#gh:hover {color: #202229; /* GitHub black */}
#ig:hover {color: #517fa4; /* Instagram blue */}
#gp:hover {color: #d34836; /* Google+ red */}
#em:hover {color: #FF6D3F; /* Email */}
