.social {
  a {
    margin: 20px;

    i {
      padding: 0 5px 10px 5px;
      border-bottom: 3px solid transparent;
      @include transition();

      &:hover, &:active {
        border-bottom: 3px solid $font-color-main;
      }
    }
  }
}
