/* Variables */

$font-color-main: #fff;
$font-color-header: black;
$font-color-footer: black;
$font-color-accent: #3498DB;

$background-color-main: #fff;
$background-color-header: #fff;
$background-color-footer: #fff;
$background-color-home: black;
$background-color-aboutme: #3498DB;
$background-color-work: #27ae60;
$background-color-projects: #c0392b;
$background-color-contact: #2c3e50;

$border-bottom-width: 3px;

$height-header: 80px;
