.header-desktop {
  height: 70px;
  justify-content: space-around;

  .logo {
    padding: 10px;
    
    &:hover, &:active {
      border-bottom: 2px solid currentColor;
    }

    h1 {
      font-size: 3.8rem;
    }
  }
}

.nav-desktop {
  height: 100%;
  display: flex;
  align-items: center;

  .menu-item {
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    @include transition();
    border-top: 3px solid transparent;
    cursor: pointer;
    
    &:hover, &.active {
      background-color: #2472a4;
    }
    &:hover {
      border-top: 3px solid transparent;
    }
    &.active {
      border-top: 3px solid #fff;
    }
    span {
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }
}