.header-mobile {
  display: none;
  height: 60px;

  .button-nav-toggle {
    padding: 15px;
    cursor: pointer;
  }

  .logo {
    h1 { 
      font-size: 2.5rem;
    }
  }
}

.nav-mobile {
  position: fixed;
  top: 60px;
  width: 100%;
  background-color: $header-bg;
  box-shadow: 0px -20px 10px 20px rgba(0,0,0,0.75);
  z-index: 998;

  .menu-item {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    @include transition();
    cursor: pointer;
    
    &:hover, &.active {
      background-color: #2472a4;
    }
    &.active {
      border-left: 3px solid $font-color-main;
    }
    i {
      padding: 15px;
    }
    span {
      padding-left: 15px;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }
}