// Variables

// Home background
$home-bg:           #3498DB;

// Header bar background
$header-bg:         #2980B9;

// odd Card background
$card-odd-bg:       #2B3E51;

// pair Card background
$card-pair-bg:      #EEEEEE;  

//
$font-color-main:   #fff;

//
$font-color-invert: #444;