
/* Main stylesheet */

$home-bg: #3498DB;
$header-bg: #2980B9;
$pair-card-bg: #2B3E51;
$odd-card-bg: #EEEEEE;
$font-color-main: #fff;
$font-color-invert: #444;

@mixin flexbox () {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
}

@mixin justify-content ($arg) {
	-webkit-justify-content: $arg;
	justify-content: $arg;
}

@mixin align-items ($arg) {
	-webkit-align-items: $arg;
	-webkit-box-align: $arg;
	-ms-flex-align: $arg;
	align-items: $arg;
}

@mixin flex-direction ($arg) {
	-webkit-flex-direction: $arg;
	flex-direction: $arg;
}

@mixin flex-wrap ($arg) {
	-webkit-flex-wrap: $arg;
	-ms-flex-wrap: $arg;
	flex-wrap: $arg;
}

@mixin transform ($arg) {
	-webkit-transform: $arg;
	-moz-transform: $arg;
	-ms-transform: $arg;
	transform: $arg;
}

@mixin transition () {
	transition: all 0.3s ease;
}

*, *::after, *::before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: $pair-card-bg;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size : 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 150%;
	color: $font-color-main;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.shadow {
	box-shadow: inset 0px 32px 17px -32px rgba(0,0,0,0.75);
}

a {
	color: currentColor;
	text-decoration: none;

	&.sublink {
		text-decoration: underline;
	}
}

header {
	position: fixed;
	width: 100%;
	height: 80px;
	@include flexbox();
	@include justify-content(space-around);
	@include align-items(center);
	@include transition();
	z-index: 999;

	&.sticky, &:hover {
		background-color: $header-bg;
		box-shadow: 0px -20px 10px 20px rgba(0,0,0,0.75);
	}

	div {
		height: 100%;
		@include flexbox();
		@include align-items(center);
		padding: 20px;
		@include transform(skewX(-25deg));
		cursor: pointer;
		@include transition();
		&:hover, &:active {
			background-color: #2472a4;
			text-shadow: 0px 5px 14px rgba(0,0,0,0.6);
		}

		h1 {
			font-size: 4rem;
			font-weight: 100;
			text-shadow: 0px 1px 5px rgba(0,0,0,0.4);
			@include transform(skewX(25deg));
		}
	}


	nav {
		height: 100%;
		@include flexbox();
		@include align-items(center);

		div {
			height: 100%;
			@include flexbox();
			@include align-items(center);
			padding: 15px;
			border-top: 3px solid transparent;
			@include transform(skewX(-25deg));
			cursor: pointer;
			@include transition();
			&:hover {
				background-color: #2472a4;
				border-top: 3px solid transparent;
				text-shadow: 0px 5px 10px rgba(0,0,0,0.4);
			}
			&.active {
				background-color: #2472a4;
				border-top: 3px solid #fff;
				text-shadow: 0px 5px 10px rgba(0,0,0,0.4);
			}

			span {
				@include transform(skewX(25deg));
				font-size: 1.8rem;
				text-transform: uppercase;
				text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
			}
		}

	}
} /* header end*/

.card {
	position: relative;
	top: 0;
	width: 100%;
	min-height: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	@include flexbox();
	@include justify-content(center);
	@include align-items(center);
	@include flex-direction(column);
	background-color: $pair-card-bg;
	overflow: hidden;

	&:nth-of-type(odd) {
		color: $font-color-invert;
		background-color: $odd-card-bg;
	}
}

.card-header {
	position: relative;
	top: 0;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
	font-weight: 100;

	h2 {
		font-size: 3rem;
		margin-top: 10px; 
	}
}

.card-content {
	position: relative;
	top: 0;
	width: 40%;
	text-align: center;
	overflow: hidden;
}

#home {
	background-color: $home-bg;
	font-weight: 100;

	h1 {
		display: none;
		color: #fff;
		font-size: 5rem;
		font-weight: 100;
		text-shadow: 0px 1px 5px rgba(0,0,0,0.4);
	}

	span {
		color: #fff;
		font-size: 3.8rem;
		text-align: center;
		line-height: 120%;
	}
}

#face {
	width: 300px;
	height: 300px;
	margin: 15px;
	border-radius: 50%;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	background-image: url("../img/face.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#aboutme {
	.card-content {
		text-align: justify;
	}
}

#contact {
	.card-content  {
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);
		@include flex-wrap(wrap);
	
		a {
			@include transition();
		}
	}
}

#fb:hover {color: #3b5998; /* Facebook blue */}
#tw:hover {color: #55acee; /* Twitter blue */}
#in:hover {color: #007bb6; /* LinkedIn blue */}
#gh:hover {color: #202229; /* GitHub black */}
#ig:hover {color: #517fa4; /* Instagram blue */}
#gp:hover {color: #d34836; /* Google+ red */}

footer {
	position: relative;
	width: 100%;
	height: 80px;
	@include flexbox();
	@include justify-content(center);
	@include align-items(center);
	background-color: $pair-card-bg;
	font-size: 1.2rem;
}

/*--------------------------------------------- Media Queries -----------------------------------------------*/

@media only screen and (max-width: 1300px) {
	#home span {
		width: 45%;
	}
	#card-content {
		width: 60%;
	}
}

@media only screen and (max-width: 1000px) {
	header {
		height: 60px;
	}
	header > div {
		display: none;
	}
	header > nav > div > span{
		font-size: 1.2rem;
	}
	.card-header {
		font-size: 1.5rem;
	}
	.card-header h2 {
		font-size: 2rem;
	}
	.card-content {
		width: 85%;
		font-size: 1.4rem;
	}
	#home h1 {
		display: inline;
		margin-top: 15px;
		margin-bottom: 15px; 
	}
	#home span {
		width: 80%;
		font-size: 2.4rem;
		padding-top: 15px;
		border-top: 1px solid #fff;
	}
}