
/* Main stylesheet */

$home-bg: #3498DB;
$header-bg: #2980B9;
$pair-card-bg: #2B3E51;
$odd-card-bg: #EEEEEE;

@mixin flexbox () {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

@mixin box-shadow ($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	box-shadow: $shadow;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: $home-bg;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size : 1.8rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 150%;
	color: #fff;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

a.sublink {
	color: currentColor;
	text-decoration: underline;
}

.trans {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.shadow {
	@include box-shadow(inset 0px 10px 21px -12px rgba(0,0,0,0.5));
}

header {
	position: fixed;
	width: 100%;
	height: 100px;
	@include flexbox();
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	align-items: center;
	z-index: 999;
	background-color: $header-bg;
	@include box-shadow(0px -8px 21px 4px rgba(0,0,0,0.7));

	div {
		@include flexbox();
		-webkit-align-items: center;
		align-items: center;

		h1 {
			font-weight: 100;
			text-shadow: 0px 1px 5px rgba(0,0,0,0.4);
			padding: 20px;
			font-size: 4rem;

			&:hover, &:active {
				text-shadow: 0px 5px 14px rgba(0,0,0,0.6);
			}
		}
	}


	nav {
		@include flexbox();
		-webkit-align-items: center;
		align-items: center;

		span {
			margin: 15px;
			padding-bottom: 5px;
			border-bottom: 2px solid transparent;
			text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
			cursor: pointer;

			&:hover {
				border-bottom: 2px solid #fff;
				text-shadow: 0px 5px 10px rgba(0,0,0,0.4);
			}

			&.active {
				border-bottom: 2px solid #fff;
				text-shadow: 0px 5px 10px rgba(0,0,0,0.4);
			}
		}
	}

} /* header end*/

#home {
	background-color: $home-bg;
	font-weight: 100;
}
	#home h1 {
		display: none;
		width: 100%;
		position: absolute;
		top: 100px;
		color: #fff;
		font-weight: 400;
		text-align: center;
		font-size: 6rem;
	}
	#home span {
		position: absolute;
		top: 30%;
		left: 16%;
		width: 33%;
		color: #fff;
		font-size: 3.8rem;
		line-height: 120%;
		text-align: right;
	}

#face {
	position: absolute;
	top: 20%;
	right: 15%;
	width: 300px;
	height: 300px;

	background-image: url("../img/face.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;

	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#faceWrapper {
	display: none;
}

.card {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	min-height: 700px;
	background-color: $pair-card-bg;
}
.card:nth-of-type(odd) {
	color: #444;
	background-color: $odd-card-bg;
}

.cardHeader {
	position: relative;
	top: 0;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	font-weight: 100;
}

.cardHeader h2 {
	font-size: 3rem;
	padding-top: 20px;
}

.cardContent {
	position: relative;
	top: 0;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

#aboutme .cardContent {
	text-align: justify;
}
#contact .cardContent ul li {
	display: inline;
}
#contact .cardContent ul li a {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
#fb:hover {color: #3b5998; /* Facebook blue */}
#tw:hover {color: #55acee; /* Twitter blue */}
#in:hover {color: #007bb6; /* LinkedIn blue */}
#gh:hover {color: #202229; /* GitHub black */}
#ig:hover {color: #517fa4; /* Instagram blue */}
#gp:hover {color: #d34836; /* Google+ red */}

footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
	font-size: 0.75em;
	text-align: center;
}

/*--------------------------------------------- Media Queries -----------------------------------------------*/

@media only screen and (max-width: 1300px) {
	header h1 {
		left: 10%;
	}
	header.sticky h1 {
		left: 15%;
	}
	header nav {
		right: 5%;
	}
	#face {
		right: 10%;
	}
	#home span {
		left: 10%;
		width: 45%;
	}
	#cardContent {
		width: 60%;
	}
}

@media only screen and (max-width: 1000px) {
	
	header {
		height: 60px;
		width: 100%;
		text-align: center;
	}
	header.sticky {
		height: 60px;
	}
	header h1{
		display: none;
	}
	header nav{
		right: 0;
		width: 100%;
		font-size: 1.2rem;
	}
	header nav ul li a {
		margin: 0;
		padding: 5px;
	}
	#home h1 {
		display: initial;
		font-size: 5rem;
	}
	#home span {
		top: 160px;
		width: 80%;
		font-size: 2.4rem;
		text-align: center;
		padding-top: 15px;
		border-top: 1px solid #fff;
	}
	#face {
		display: none;
	}
	#faceWrapper {
		display: inline;
		position: absolute;
		right: 50%;
		top: 300px;
	}
	#mobileface {
		position: relative;
		right: -50%;
		width: 250px;
		height: 250px;
		min-width: 200px;
		min-height: 200px;
		max-width: 380px;
		max-height: 380px;

		background-image: url("../img/face.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;

		-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	}
	.card {
		height: 700px;
	}
	.cardHeader {
		font-size: 1.5rem;
		padding-bottom: 7%;
	}
	.cardHeader h2 {
		font-size: 2rem;
		padding-top: 10px;
	}
	.cardContent {
		width: 85%;
		font-size: 1.4rem;
	}
}