
/* Main stylesheet */

$home-bg: #3498DB;
$header-bg: #2980B9;
$pair-card-bg: #2B3E51;
$odd-card-bg: #EEEEEE;

@mixin flexbox () {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
}

@mixin justify-content ($arg) {
	-webkit-justify-content: $arg;
	justify-content: $arg;
}

@mixin align-items ($arg) {
	-webkit-align-items: $arg;
	-webkit-box-align: $arg;
	-ms-flex-align: $arg;
	align-items: $arg;
}

@mixin flex-wrap ($arg) {
	-webkit-flex-wrap: $arg;
	-ms-flex-wrap: $arg;
	flex-wrap: $arg;
}

@mixin transition () {
	transition: all 0.3s ease;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

*, *::after, *::before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: $pair-card-bg;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size : 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 150%;
	color: #fff;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.shadow {
	box-shadow: inset 0px 10px 21px -12px rgba(0,0,0,0.5);
}

a {
	color: currentColor;
	text-decoration: none;

	&.sublink {
		text-decoration: underline;
	}
}

header {
	position: fixed;
	width: 100%;
	height: 80px;
	@include flexbox();
	@include justify-content(space-around);
	@include align-items(center);
	background-color: $header-bg;
	z-index: 999;

	div {
		@include flexbox();
		@include align-items(center);

		h1 {
			font-size: 4rem;
			font-weight: 100;
			padding: 20px;
			text-shadow: 0px 1px 5px rgba(0,0,0,0.4);
			cursor: pointer;
			@include transition();

			&:hover, &:active {
				text-shadow: 0px 5px 14px rgba(0,0,0,0.6);
			}
		}
	}

	nav {
		@include flexbox();
		@include align-items(center);

		span {
			margin: 10px;
			padding: 5px;
			font-size: 1.8rem;
			border-bottom: 2px solid transparent;
			text-transform: uppercase;
			text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
			cursor: pointer;
			@include transition();

			&:hover {
				border-bottom: 2px solid #fff;
				text-shadow: 0px 5px 10px rgba(0,0,0,0.4);
			}

			&.active {
				border-bottom: 2px solid #fff;
				text-shadow: 0px 5px 10px rgba(0,0,0,0.4);
			}
		}
	}

} /* header end*/

.card {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	min-height: 700px;
	background-color: $pair-card-bg;

	&:nth-of-type(odd) {
		color: #444;
		background-color: $odd-card-bg;
	}
}

.card-header {
	position: relative;
	top: 0;
	width: 100%;
	text-align: center;
	font-weight: 100;

	h2 {
		font-size: 3rem;
	}
}

.card-content {
	position: relative;
	top: 0;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

#home {
	background-color: $home-bg;
	font-weight: 100;

	span {
		position: absolute;
		top: 30%;
		left: 16%;
		width: 33%;
		color: #fff;
		font-size: 3.8rem;
		line-height: 120%;
		text-align: right;
	}
}

#face {
	position: absolute;
	top: 20%;
	right: 15%;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	background-image: url("../img/face.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#aboutme {
	.card-content {
		text-align: justify;
	}
}

#contact {
	.card-content  {
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);
		@include flex-wrap(wrap);
	
		a {
			@include transition();
		}
	}
}

#fb:hover {color: #3b5998; /* Facebook blue */}
#tw:hover {color: #55acee; /* Twitter blue */}
#in:hover {color: #007bb6; /* LinkedIn blue */}
#gh:hover {color: #202229; /* GitHub black */}
#ig:hover {color: #517fa4; /* Instagram blue */}
#gp:hover {color: #d34836; /* Google+ red */}

footer {
	position: relative;
	width: 100%;
	height: 80px;
	@include flexbox();
	@include justify-content(center);
	@include align-items(center);
	background-color: $pair-card-bg;
	font-size: 1.2rem;
}

/*--------------------------------------------- Media Queries -----------------------------------------------*/

@media only screen and (max-width: 1300px) {
	#face {
		right: 10%;
	}
	#home span {
		left: 10%;
		width: 45%;
	}
	#card-content {
		width: 60%;
	}
}

@media only screen and (max-width: 1000px) {
	
	header {
		height: 60px;
		width: 100%;
		text-align: center;
	}
	header.sticky {
		height: 60px;
	}
	header h1{
		display: none;
	}
	header nav{
		right: 0;
		width: 100%;
		font-size: 1.2rem;
	}
	header nav ul li a {
		margin: 0;
		padding: 5px;
	}
	#home h1 {
		display: initial;
		font-size: 5rem;
	}
	#home span {
		top: 160px;
		width: 80%;
		font-size: 2.4rem;
		text-align: center;
		padding-top: 15px;
		border-top: 1px solid #fff;
	}
	#face {
		display: none;
	}
	#faceWrapper {
		display: inline;
		position: absolute;
		right: 50%;
		top: 300px;
	}
	#mobileface {
		position: relative;
		right: -50%;
		width: 250px;
		height: 250px;
		min-width: 200px;
		min-height: 200px;
		max-width: 380px;
		max-height: 380px;

		background-image: url("../img/face.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		
		border-radius: 50%;

		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	}
	.card {
		height: 700px;
	}
	.cardHeader {
		font-size: 1.5rem;
		padding-bottom: 7%;
	}
	.cardHeader h2 {
		font-size: 2rem;
		padding-top: 10px;
	}
	.card-content {
		width: 85%;
		font-size: 1.4rem;
	}
}